<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <%= link_to "See all restaurants", restaurants_path, class: "btn btn-primary" %>
      <%= link_to "Add restaurant", new_restaurant_path, class: "btn btn-success" %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
